@charset "utf-8";

@import url('reset.css');

/* layout */
html,body{height:100%;}
body{background-color:#eaeaea;}
#wrap{margin:0 auto;}
#container{position:relative; width:1135px; margin:20px auto 20px; padding:17px 0; zoom:1; border:1px solid #dbdbdb; background-color:#fff;}
#container:after{content:""; display:block; height:0; clear:both; visibility:hidden;}
.contents{padding:20px 22px 0;}

/* common */
input,textarea,button{outline:0 none; font-size:12px;}
input[type=text]{border:1px solid #dbdbdb; height:23px; line-height:23px; text-indent:10px; color:#5c5c5c; vertical-align:middle;}
textarea{border:1px solid #dbdbdb; padding:10px 10px; color:#5c5c5c;}
button{cursor:pointer; padding:0; border:0 none; background-color:transparent;}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder{font-size:12px; color:#a2a2a2;}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder{font-size:12px; color:#a2a2a2;}
input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0 100px #fff inset;
    -moz-box-shadow: 0 0 0 100px #fff inset;
    box-shadow: 0 0 0 100px #fff inset;
}
.placeholder{font-size:12px; color:#a2a2a2;}
.inlineB{display:-moz-inline-stack; display:inline-block; *display:inline; zoom:1; vertical-align: middle;}
.clearbox{width:100%; zoom:1;}
.clearbox:after{content:""; display:block; height:0; clear:both; visibility:hidden;}
.fl_box{float:left;}
.fr_box{float:right;}
.stxt01{margin:10px 0 0 12px; text-indent:-12px; color:#a9a9a9;}
.stxt01.ar{text-align:right;}
.stxt02{margin:15px 0; font-size:13px; color:#777777;}
.pnt_clr{color:#afa4f4;}

/* btn style */
.btn_st,.btn_st>span{display:inline-block; *display:inline; zoom:1; font-weight:bold; vertical-align:middle; font-size:12px; white-space:nowrap;}
.btn_st{position:relative;  *overflow:visible; text-align:center; background-repeat:no-repeat; background-position:0 0;}
.btn_st>span{padding-right:12px; margin-left:12px; color:#694fed; vertical-align:top; background-repeat:no-repeat; background-position:100% 0;}
.bt01{height:23px; background-image:url('../../img/common/bt01_lbg_n.png');}
.bt01>span{height:23px; line-height:23px; background-image:url('../../img/common/bt01_rbg.png'); }
.bt01:hover{background-image:url('../../img/common/bt01_lbg_n_hover.png');}
.bt01:hover>span{background-image:url('../../img/common/bt01_rbg_hover.png'); color:#fff;}
.bt02{height:25px; background-image:url('../../img/common/bt02_lbg.png');}
.bt02>span{height:25px; line-height:25px; background-image:url('../../img/common/bt02_rbg.png'); }
.bt02:hover{background-image:url('../../img/common/bt02_lbg_hover.png');}
.bt02:hover>span{background-image:url('../../img/common/bt02_rbg_hover.png'); color:#fff;}
.bt02_1{height:25px; background-image:url('../../img/common/bt02_1_lbg.png');}
.bt02_1>span{color:#000; height:25px; line-height:25px; background-image:url('../../img/common/bt02_1_rbg.png'); }
.bt02_1:hover{background-image:url('../../img/common/bt02_1_lbg_hover.png');}
.bt02_1:hover>span{color:#fff; background-image:url('../../img/common/bt02_1_rbg_hover.png'); color:#fff;}
.bt03{height:38px; background-image:url('../../img/common/bt03_lbg.png');}
.bt03>span{padding-right:18px; margin-left:18px; height:38px; line-height:38px; color:#fff; background-image:url('../../img/common/bt03_rbg.png'); font-size:15px; font-weight:bold;}

/* select */
.select-title { color: #414141; vertical-align: middle; width:150px; border:1px solid #dbdbdb; padding-right:30px; background: #fff url('../../img/common/select_arrow.png') no-repeat 100% 50%; display: inline-block; *display:inline; zoom:1; cursor:default;}
.select-title strong { width: 100%; height:21px; padding-left:10px; font-weight: normal; word-break: break-all; line-height:21px; display: block; overflow: hidden; color:#777777;}
.select-title.focus{}
.select-title.active {color: #000; background: #fff url('../../img/common/select_arrow_open.png') no-repeat 100% 50%;}
.select-title.disabled { color: #999;}
.select-option {border:1px solid #dbdbdb; background: #fff; overflow: auto; }
.select-option span,
.select-option strong {height:21px; color: #777777; white-space: nowrap; text-overflow: ellipsis; line-height: 21px; text-decoration: none; padding:0 10px 0; display: block; overflow: hidden; cursor:default;}
.select-option strong { font-weight: bold; color: #000; border-top: 1px solid #eee; border-bottom: 1px solid #ccc; }
.select-option li li span { padding-left: 10px; }
.select-option span:hover,
.select-option span.selected { color: #000; background: #eee; }
.select-option .disabled span,
.select-option .disabled strong { color: #bbb; text-decoration: line-through; background: none; }

.select01.select-title{border:0 none; background:url('../../img/common/bg_select_arrow.gif') no-repeat 100% 0;}
.select01.select-title strong{background:url('../../img/common/bg_select_box.gif') no-repeat 0 0;}
.select01.select-title strong,
.select02.select-title strong{height:26px; line-height:26px; font-size:12px; color:#7c7c7e;}
.select01.select-title.active {background:url('../../img/common/bg_select_arrow_open.gif') no-repeat 100% 0;}
.select01.select-title.active strong{background:url('../../img/common/bg_select_box_open.gif') no-repeat 0 0;}
.select01.select-option{border:1px solid #d0d0d0; background:#f8f9fd;}
.select02.select-title{border:0 none; background:url('../../img/common/select03_bg.gif') no-repeat 0 0;}
.select02.select-title.active {color: #000; background: #fff url('../../img/common/select03_open_bg.gif') no-repeat 0 0;}
.select02.select-option{border:1px solid #d0d0d0; background:#fff;} 

/* checkbox radio */
.checkbox,.radio{vertical-align:-2px; width:15px; height:15px; margin:0 3px; display:inline-block; *display:inline; zoom:1; cursor:pointer;}
.checkbox{background: url('../../img/common/checkbox_off.png') no-repeat 0 0;}
.checkbox.checked { background: url('../../img/common/checkbox_on.png') no-repeat 0 0;}
.radio{ background: url('../../img/common/radio_off.png') no-repeat 0 0;}
.radio.checked{ background: url('../../img/common/radio_on.png') no-repeat 0 0;}

/* datapicker */
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-radius:0;}
.ui-widget-content{border:1px solid #d0d0d0; background:#ffffff none; color:#242424;}
.ui-widget *{font-size:11px; font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;}
.ui-datepicker{width:151px;}
.ui-datepicker .ui-datepicker-header{padding:10px 0 0;}
.ui-widget-header{border:0 none; background:transparent none; color:#000; font-weight:normal;}
.ui-datepicker .ui-datepicker-title span{font-size:12px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{top:8px; cursor:pointer;}
.ui-widget-header .ui-state-hover{border:0 none; background:transparent none;}
.ui-widget-header .ui-icon{background-image:url('../../img/common/bg_datapicker_arrow.gif');}
.ui-icon-circle-triangle-w{background-position:0 0;}
.ui-icon-circle-triangle-e{background-position:0 100%;}
.ui-datepicker td span, .ui-datepicker td a{text-align:center;}
.ui-datepicker th{font-weight:normal;}
.ui-state-default, .ui-widget-content .ui-state-default{border:0 none; background:transparent none; color:#676767; font-weight:normal;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{text-decoration:none;}
.ui-state-active,.ui-widget-content .ui-state-active{border:0 none; background:transparent url('../../img/common/bg_datapicker_on.png') 40% 50% no-repeat; font-weight:normal;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-state-active,.ui-widget-content .ui-state-active{color:#694fed; font-weight:bold;}

/* header */
#header{position:relative; height:82px; z-index:10; background:url('../../img/common/header_bg.gif') repeat-x 0 0; border-bottom:1px solid #dbdbdb;}
#header .top_cont{position:relative; width:1137px; margin:0 auto;}
#header h1{padding:0 0 0 8px; height:46px; line-height:40px; overflow:hidden;}
#header h1>a{font-size:16px; color:#ffffff;}
#header h1>a>span{font-size:12px; font-weight:normal; color:#b8b8b8; vertical-align:1px;}
#header .top_util{position:absolute; top:12px; right:0;}
.top_util .user{color:#ffffff;}
.top_util .bt01{margin-left:5px;}
#header .gnb{position:absolute; top:47px; left:0;}
.gnb>ul>li{float:left; width:178px;}
.gnb>ul>li>a{display:block; line-height:33px; font-size:16px; color:#232323; text-align:center;}
.gnb>ul>li.on>a{border-bottom:2px solid #694fed; color:#694fed;}

/* sub top */
.sub_menu,
.sub_topsearch{margin:0 22px 18px;}
.sub_menu>ul{width:100%; overflow:hidden; border-bottom:2px solid #5e47d5;}
.sub_menu>ul>li{position:relative; float:left; margin-left:-1px; z-index:3;}
.sub_menu>ul>li.first{margin-left:0;}
.sub_menu>ul>li>a{display:block; padding:0 30px; line-height:29px; border:1px solid #e7e7e7; border-bottom:0 none; background-color:#fff; font-size:14px; color:#616161; font-weight:bold;}
.sub_menu>ul>li.on{z-index:4;}
.sub_menu>ul>li.on>a{border:1px solid #694fed; border-bottom:0 none; background-color:#694fed; color:#fff;}

.sub_topsearch>ul>li{float:left; margin:0 4px;}
.sub_topsearch>ul>li .sch_data{display:-moz-inline-stack; display:inline-block; *display:inline; zoom:1; width:151px; height:26px; background:url('../../img/common/bg_datepicker.png') no-repeat 0 0;}
.sub_topsearch>ul>li .sch_data input[type="text"]{border:0 none; height:26px; line-height:26px; background-color:transparent; text-indent:32px; font-size:12px; color:#3e3d3d;}
.sub_topsearch>ul>li.input_search{width:222px; height:26px; padding:0 15px 0 30px; background:url('../../img/common/topsearch_inputbg.gif') no-repeat 0 0;}
.sub_topsearch>ul>li.input_search input[type="text"]{width:100%; border:0 none; background:transparent;}

.top_area{padding:15px 0; background:#f7f6fc;}
.top_area .bt01{margin:0 3px;}
.top_area .lf_box{float:left; padding-left:22px;}
.top_area .rf_box{float:right; padding-right:22px;}
.top_area .txt{display:-moz-inline-stack; display:inline-block; *display:inline; zoom:1; padding-left:10px; background:url('../../img/common/txt_bul01.gif') no-repeat 0 10px; line-height:26px; color:#010101;}

/* table */
.lst_table01{}
.lst_table01 table{width:100%;}
.lst_table01 table thead th{padding:12px 0; color:#010101; font-weight:bold; text-align:center; border:1px solid #cacbcb; background:#f1f7fc;}
.lst_table01 table thead th.num{background:#fafdfe;}
.lst_table01 table thead th.al{padding:12px 15px; text-align:left;}
.lst_table01 table tfoot th,
.lst_table01 table tfoot td{padding:12px 0; background:#e6e4f3; border:1px solid #cacbcb; color:#000; text-align:center; font-weight:500;}
.lst_table01 table tbody td{padding:8px 15px; color:#424242; text-align:center; border:1px solid #dddddd; background:#fff;}
.lst_table01 table tbody tr.bg td{background:#f8f9fd;}
.lst_table01 table tbody td a{color:#694fed;}
.lst_table01 table tbody td a:hover{text-decoration:underline;}
.lst_table01 table tbody td.al{text-align:left;}
.lst_table01 table tbody td.ar{text-align:right;}
.lst_table01 table tbody td.vt{vertical-align:top;}

.wrt_table01{}
.wrt_table01 table{width:100%;}
.wrt_table01 table tbody th,.wrt_table01 table tbody td{border:1px solid #dbdbdb;}
.wrt_table01 table tbody th{padding:8px 10px; text-align:center; font-weight:normal; color:#010101; background-color:#eeeeee;}
.wrt_table01 table tbody td{padding:4px 10px 4px 10px; color:#424242;}
.wrt_table01 table tbody td.ac{padding:4px 10px; text-align:center;}
.wrt_table01 table tbody td.np{padding:0; text-align:left;}
.wrt_table01 table tbody td .fl_box{line-height:25px;}

/* paging */
.paging{position:relative; padding:20px 0 10px; text-align:center;}
.paging a{display:inline-block; *display:inline; zoom:1; margin:0 6px; font-size:14px; color:#777777; vertical-align:middle;}
.paging a.on{color:#694fed;}
.paging a img{vertical-align:-2px;}

/* layerpop */
.layerpop_wrap{display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:9900;}
.layerpop_mask{position:fixed; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.5; filter:alpha(opacity=50); z-index:9901;}
.layerpop{position:relative; z-index:9902; margin:0 auto;}
.layer_rdbox{position:relative; height:15px; overflow:hidden;}
.layer_rdbox>div{height:15px; background-repeat:no-repeat;}
.layer_lt,.layer_lb{position:absolute; top:0; left:0; width:25px; background-position:0 0;}
.layer_rt,.layer_rb{margin-left:25px; background-position:100% 0;}
.layer_lt{background-image:url('../../img/common/layer_lt_bg.png');}
.layer_rt{background-image:url('../../img/common/layer_rt_bg.png');}
.layer_lb{background-image:url('../../img/common/layer_lb_bg.png');}
.layer_rb{background-image:url('../../img/common/layer_rb_bg.png');}
.layer_content{position:relative; background:#fff; padding:5px 22px 0;}
.layer_content .layer_tit{margin-top:0; padding-bottom:15px; font-size:16px; color:#694fed;}
.layer_content .layer_stit{padding:15px 0 12px; font-size:13px; color:#333333;}
.layer_content .layer_btnbox{padding:15px 0 0; text-align:center;}
.layer_content .layer_btnbox .btn_st{margin:0 3px;}

.detail_code{float:left; width:50%;}
.loan_state{float:right; padding-top:5px;}
.memo_scroll{height:100px; overflow-y:auto;}
.memo_addbox{margin-top:15px;}
.memo_addbox input{float:left; width:470px;}
.memo_addbox .btn_st{float:right;}
.prod_scroll{height:136px; overflow-y:auto;}
.add_doc_lst li{padding:4px 10px; border-bottom:1px solid #dddddd;}
.add_doc_btn{display:block; width:100%; line-height:34px; background:#eeeeee; text-align:center;}
.dt_doc_lst{list-style:decimal; margin-left:15px;}

/* login */
#login_wrap{}
#login_wrap #header{height:46px;}
#login_wrap #container{width:420px; margin:150px auto 0; padding:0; border:1px solid #afafaf;}
.login_box{padding:30px 0; border-top:3px solid #694fed;}
.login_box h2{font-size:20px; text-align:center; color:#000;}
.login_box p{margin-top:15px; text-align:center; color:#aeafb4;}
.login_box ul{width:258px; margin:20px auto 0;}
.login_box ul li{margin:5px 0 0; height:29px; padding-left:35px; overflow:hidden; border:1px solid #d0d0d0;}
.login_box ul li.id{background:url('../../img/common/bg_login_id.gif') no-repeat 10px 50%;}
.login_box ul li.pw{background:url('../../img/common/bg_login_pw.gif') no-repeat 10px 50%;}
.login_box ul li input{width:100%; height:29px; line-height:29px; background:transparent; border:0 none; text-indent:0;}
.login_box .login_btn{margin-top:16px; text-align:center;}